<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	
	<body>
	
		<nav th:replace="common/navbar :: common-navbar"/>
		
		<table class="table text-center">
		  <thead>
		    <tr>
		      <th>PERSON</th>
		      <th>MOBILE</th>
		    </tr>
		  </thead>
		  <tbody id="allpersons">
		  
		  </tbody>
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/allpersons.js"></script>
	</body>
	
</html>