<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
			    <li class="nav-item active">
			      <a class="nav-link" href="#">Link</a>
			    </li>
			 </ul>
		</nav>
		<div class="jumbotron text-center">
			<h1 id="personName"></h1>
			<h2 id="mobile"></h2>
		</div>
		
		<h3 class="text-center">BOOKS BORROWED</h3>
		<table class="table">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>BOOK</th>
		      <th>AUTHOR</th>
		    </tr>
		  </thead>
		  <tbody id="bookList">
		  
		  </tbody>
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/persondetails.js"></script>
	</body>
	
</html>