<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	
	<body>
		
		<nav th:replace="common/navbar :: common-navbar"/>
		<div class="jumbotron text-center">
			<h1 id="username"></h1>
			<h2 id="mobile"></h2>
		</div>
		
		<h3 class="text-center">BOOKS BORROWED</h3>
		<table class="table">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>BOOK</th>
		      <th>AUTHOR</th>
		    </tr>
		  </thead>
		  <tbody id="bookList">
		  
		  </tbody>
		</table>
		
		<small th:if="${message} == 'successfully borrowed'" th:text="'You have successfully borrowed the book'"></small>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/persondetails.js"></script>
	</body>
	
</html>