<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	
	<body>
	
		<nav th:replace="common/navbar :: common-navbar"/>
		
		<div class="container mt-4">
		<div class="row justify-content-center">
		<div class="col-md-6 col-md-offset-6">
		<form th:action="@{/registration}" method="post">
   		<div class="form-group row">
		    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
		    <div class="col-md-6">
		   		<input type="text" class="form-control" th:name="username" th:field="${userForm.username}" id="inputUsername" value="" placeholder="Username">
		  	</div>
		  </div>
		  <div class="form-group row">
		    <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
		    <div class="col-md-6">
		    	<input type="text" class="form-control" th:name="mobile" th:field="${userForm.mobile}" id="inputMobile" placeholder="Mobile">
		  	</div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
		    <div class="col-md-6">
		    	<input type="password" class="form-control" th:name="password" th:field="${userForm.password}" id="inputPassword" placeholder="Password">
		  	</div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
		    <div class="col-md-6">
		    	<input type="password" class="form-control" th:name="passwordConfirm" th:field="${userForm.passwordConfirm}" id="inputPasswordConfirm" placeholder="Password">
		  	</div>
		  </div>
		  <div class="form-group row">
		   <div class="offset-2 col-sm-10">
		  	<button type="submit" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" class="btn btn-primary">Submit</button>
		   </div>
		   </div>
		   
		   <p class="alert alert-danger" th:if="${message1} == 'Size.userForm.username'" th:text="'Username should be between 6 and 32 characters'"></p>
		   <p class="alert alert-danger" th:if="${message2} == 'Duplicate.userForm.username'" th:text="'Someone already has that username.'"></p>
		   <p class="alert alert-danger" th:if="${message3} == 'Size.userForm.password'" th:text="'Password should be least 8 characters.'"></p>
		   <p class="alert alert-danger" th:if="${message4} == 'Diff.userForm.passwordConfirm'" th:text="'These passwords dont match.'"></p>
		</form>
		</div>
		</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>
	
</html>